amqp==5.3.1
anyio==4.9.0
asgiref==3.8.1
billiard==4.2.1
black==24.10.0
celery==5.5.3
celery-types==0.23.0
certifi==2025.4.26
charset-normalizer==3.4.2
click==8.1.7
click-didyoumean==0.3.1
click-plugins==1.1.1.2
click-repl==0.3.0
cron_descriptor==2.0.6
Django==5.1.3
django-celery-beat==2.8.1
django-crontab==0.7.1
django-qrcode==0.3
django-redis==6.0.0
django-timezone-field==7.1
easy-thumbnails==2.10
graphene==3.4.3
graphene-django==3.2.3
graphql-core==3.2.6
graphql-relay==3.2.0
gunicorn==23.0.0
h11==0.16.0
httpcore==1.0.9
httpx==0.28.1
idna==3.10
kombu==5.5.4
myapp==0.1.dev0
mypy-extensions==1.0.0
packaging==24.2
pathspec==0.12.1
pillow==11.0.0
platformdirs==4.3.6
promise==2.3
prompt_toolkit==3.0.52
psycopg2-binary==2.9.10
python-crontab==3.3.0
python-dateutil==2.9.0.post0
qrcode==8.2
redis==6.4.0
requests==2.32.3
six==1.17.0
sniffio==1.3.1
sqlparse==0.5.1
text-unidecode==1.3
typing_extensions==4.13.2
tzdata==2025.2
urllib3==2.4.0
vine==5.1.0
wcwidth==0.2.13
