{% extends 'kz/gov_base.html' %}
{% load static %}
{% block body_block %}
    <script type="text/javascript" src="{% static 'js/jquery-3.6.0.min.js' %}"></script>

<div class="container flex-column flex-sm-row align-items-sm-center ministry-header-top">
    <div class="row justify-content-between align-items-center">
        <div class="col-lg-12">
            <br>
            <a href="/kz/logout/" class="btn float-right">Шығу</a>
            <h4>"{{ req.event.name_kaz }}" шарасына қатысушы қосу</h4>


            <hr>
        </div>
    </div>
    <div class="col-md-12 mt-4">
        <form data-tip="true" class=" form-control row flex-column flex-wrap " action="/kz/add_attendee/{{ req.id }}/" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="row">
                <div data-tip="true"
                     class="form-control__input form-control__input--visible-first form-input-text col-md-3 mb-2 ">
                    <label for=""   class="req"> Тегі </label>
                    <div class="d-flex pos_relative">
                        <input placeholder="Алиев"
                               type="text" required=""
                               class="form-input-text__input typography__variant-body color_white__bg form-input-text__input--outlined"
                               value="" name="last_name">
                    </div>
                </div>
                <div data-tip="true"
                     class="form-control__input form-control__input--visible-first form-input-text col-md-2 mb-2 ">
                    <label for="title"   class="req"> Аты </label>
                    <div class="d-flex pos_relative">
                        <input placeholder="Али"
                               type="text" required=""
                               class="form-input-text__input typography__variant-body color_white__bg form-input-text__input--outlined"
                               value="" name="first_name">
                    </div>
                </div>
                <div data-tip="true"
                     class="form-control__input form-control__input--visible-first form-input-text col-md-3 mb-2 ">
                    <label for="title"> Әкесінің аты </label>
                    <div class="d-flex pos_relative">
                        <input placeholder="Алиевич"
                               type="text"
                               class="form-input-text__input typography__variant-body color_white__bg form-input-text__input--outlined"
                               value="" name="patronymic">
                    </div>
                </div>
                <div data-tip="true"
                     class="form-control__input form-control__input--visible-first form-input-text col-md-4 mb-2 ">
                    <label for="title"  class="req"> Толық атының транслитерациясы </label>
                    <div class="d-flex pos_relative">
                        <input placeholder="Aliev Ali Alievich"
                               type="text"  required=""
                               class="form-input-text__input latin_letters typography__variant-body color_white__bg form-input-text__input--outlined"
                               value="" name="latin_name">
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <hr>
            </div>
            <div class="row">
                <div data-tip="true"
                     class="form-control__input form-control__input--visible-first form-input-text col-md-2 mb-2 ">
                    <label for="title" id="iin_label" class="req"> ЖСН </label>
                    <div class="d-flex pos_relative">
                        <input placeholder="781213351207"
                               type="text"  required="" id="iin"   minlength="12" maxlength="12"
                               class="form-input-text__input typography__variant-body color_white__bg form-input-text__input--outlined"
                               value="" name="iin">
                    </div>
                </div>
                <div class="form-control__input form-control__input--visible-first col-md-2 mb-2"><label for="title"   class="req">
                    Туған күні </label>
                    <div class="d-flex align-items-center">
                        <div class="ant-picker ant-picker-range">
                            <div class="ant-picker-input ant-picker-input-active">
                                 <input type="date" name="dob" id="dob" required=""placeholder="Начальная дата" max='2000-13-13' min='2000-13-13' size="10"  value="">
                            </div>
                        </div>
                    </div>
                </div>
                <div data-tip="true"
                     class="form-control__input form-control__input--visible-first form-input-select pos_relative col-md-2 mb-2 ">
                    <label for="gosorgan"   class="req">Жынысы </label>
                    <div><select name="sex" type="select"
                                 class="color_white__bg form-input-select__input typography__variant-bodysubreg form-input-select__input--outlined"
                                 contenttype="projectdetails"  >
                        {% for sex in sexs %}
                        <option value="{{ sex.sex_code }}">{{ sex.name_kaz }}</option>
                        {% endfor %}
                    </select></div>
                </div>
                <div data-tip="true"
                     class="form-control__input form-control__input--visible-first form-input-select pos_relative col-md-2 mb-2 ">
                    <label for="gosorgan"  class="req">Азаматтығы </label>
                    <div><select name="citizenship" type="select" id="citizenship"
                                 class="color_white__bg form-input-select__input typography__variant-bodysubreg form-input-select__input--outlined"
                                 contenttype="">
                        {% for country in countries %}
                        <option value="{{ country.country_code }}"  {% if country.country_code == "1000000105" %} selected="selected" {% endif %}>
                        {{ country.name_kaz }}</option>
                        {% endfor %}
                    </select></div>
                </div>
                   <div data-tip="true" id="category"
                         class="form-control__input form-control__input--visible-first form-input-select pos_relative col-md-2 mb-2 ">
                        <label class="req">Категория</label>
                        <div><select name="category" type="select"
                                     class="color_white__bg form-input-select__input typography__variant-bodysubreg form-input-select__input--outlined"
                                     contenttype="">
                            {% for category in categories %}
                            <option value="{{ category.category_code }}">
                            {{ category.name_kaz }}</option>
                            {% endfor %}
                        </select></div>
                    </div>
                <div data-tip="true" id="post"
                     class="form-control__input form-control__input--visible-first form-input-text col-md-4 mb-2 ">
                    <label for="title"  class="req"> Қызметі </label>
                    <div class="d-flex pos_relative">
                        <input placeholder="Директор"
                               type="text" required=""
                               name="post"
                               class="form-input-text__input typography__variant-body color_white__bg form-input-text__input--outlined">
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <hr>
            </div>
            <div class="row">
                <div data-tip="true"
                     class="form-control__input form-control__input--visible-first form-input-select pos_relative col-md-3 mb-2 ">
                    <label for="title"  class="req">Құжат түрі </label>
                    <div><select name="document_type" type="select" id="doctype"
                                 class="color_white__bg form-input-select__input typography__variant-bodysubreg form-input-select__input--outlined"
                                 contenttype="">
                        {% for dc in document_types %}
                        <option value="{{ dc.doc_code }}" {% if dc.doc_code == "1000000003" %} selected="selected" {% endif %}>
                        {{ dc.name_kaz }}</option>
                        {% endfor %}
                    </select></div>
                </div>
                <div data-tip="true"
                     class="form-control__input form-control__input--visible-first form-input-text col-md-1 mb-2 ">
                    <label for="title"> Сериясы </label>
                    <div class="d-flex pos_relative">
                        <input placeholder=""
                               type="text"
                               class="form-input-text__input typography__variant-body color_white__bg form-input-text__input--outlined"
                               value="" name="doc_series">
                    </div>
                </div>
                <div data-tip="true"
                     class="form-control__input form-control__input--visible-first form-input-text col-md-2 mb-2 ">
                    <label for="title"  class="req"> Құжат нөмірі </label>
                    <div class="d-flex pos_relative">
                        <input
                                type="text" required=""
                                class="form-input-text__input typography__variant-body color_white__bg form-input-text__input--outlined"
                                value="" name="doc_number">
                    </div>
                </div>
                <div class="form-control__input form-control__input--visible-first col-md-2 mb-2">
                    <label for="title"  class="req"> Берілген күні </label>
                    <div class="d-flex align-items-center">
                        <div class="ant-picker ant-picker-range">
                            <div class="ant-picker-input ant-picker-input-active">
                                 <input type="date" required="" name="doc_date_start" id="doc_date_start" max='2000-13-13' min='2000-13-13' onkeydown="return false" size="10"  value="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-control__input form-control__input--visible-first col-md-2 mb-2"><label for="title"  class="req">
                    Жарамдылық күні </label>
                    <div class="d-flex align-items-center">
                        <div class="ant-picker ant-picker-range">
                            <div class="ant-picker-input ant-picker-input-active">
                                <input type="date"  id="doc_date_end" name="doc_date_end" max='2000-13-13' min='2000-13-13'  onkeydown="return false" size="10"  value="" required="">
                            </div>
                        </div>
                    </div>
                </div>
                <div data-tip="true"
                     class="form-control__input form-control__input--visible-first form-input-text col-md-2 mb-2 ">
                    <label for="title"> Берген мекеме </label>
                    <div class="d-flex pos_relative">
                        <input placeholder="Министрлігі"
                               type="text"
                               class="form-input-text__input typography__variant-body color_white__bg form-input-text__input--outlined"
                               value="" name="doc_issuer">
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <hr>
            </div>
            <div class="row">
                <div data-tip="true"
                     class="form-control__input form-control__input--visible-first form-input-text col-md-1 mb-2 ">
                    <img src="{% static 'img/upload_photo.png' %}" width="100%">

                </div>
                <div data-tip="true"
                     class="form-control__input form-control__input--visible-first form-input-text col-md-3 mb-2 ">
                    <label for="title"  class="req"> Қатысушының суретін тіркеңіз(.jpg, .png, >50Kb, <7Mb) </label>
                    <div class="d-flex pos_relative">
                        <input placeholder="Алиев"
                               type="file" required="" accept=".jpg,.jpeg"
                               class="form-input-text__input typography__variant-body color_white__bg form-input-text__input--outlined"
                               value="" name="photo">
                    </div>
                </div>
                <div data-tip="true"
                     class="form-control__input form-control__input--visible-first form-input-text col-md-1 mb-2 ">
                    <img src="{% static 'img/id.png' %}" width="100%">

                </div>
                <div data-tip="true"
                     class="form-control__input form-control__input--visible-first form-input-text col-md-3 mb-2 ">
                    <label for="title"  class="req"> Құжатының суретің тіркеңіз(jpg, .png, >50Kb, <7Mb) </label>
                    <div class="d-flex pos_relative">
                        <input placeholder="Алиев"
                               type="file" required="" accept=".jpg,.jpeg"
                               class="form-input-text__input typography__variant-body color_white__bg form-input-text__input--outlined"
                               value="" name="doc_photo">
                    </div>
                </div>
                <div data-tip="true"
                     class="form-control__input form-control__input--visible-first form-input-text col-md-4 mb-2 ">
                    <label for="title"  class="req"> Баратын объектілер </label>
                    <div class="d-flex pos_relative">
                        <textarea class="form-control"  required="" id="exampleFormControlTextarea3" rows="3" name="visit_objects"></textarea>
                    </div>
                </div>
            </div>
            <div class="my-3 col-md-12">
                <hr>
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" required>
                  <label class="form-check-label" for="flexCheckDefault">
                    Қатысушыны қоса отырып, оның дербес деректерінің ҚР МҚК ақпараттық жүйелеріне сақталуына рұқсатыңызды бересіз
                  </label>
            </div>
            <div class="my-3 col-md-12">
                <input type="hidden" name="req_id" value="{{ req.id }}">
                <button data-tip="true" class=" button button--transition button--color-blue mr-3 col-md-12 ripple"
                        type="submit">Қатысушыны қосу
                </button>
            </div>
                        <select  type="select" id="qazdoctype"
                                 class="color_white__bg form-input-select__input typography__variant-bodysubreg form-input-select__input--outlined"
                                 contenttype="">
                        {% for dc in document_types %}
                            {% if dc.doc_code in '1000000001,1000000003' %}
                                <option value="{{ dc.doc_code }}" {% if dc.doc_code == "1000000003" %} selected="selected" {% endif %}>
                                {{ dc.name_kaz }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
            <select  type="select" id="fulldoctype" contenttype="">
                        {% for dc in document_types %}
                            {% if dc.doc_code in '1000000002,1000000004,1000000005' %}
                                <option value="{{ dc.doc_code }}" {% if dc.doc_code == "1000000002" %} selected="selected" {% endif %}>{{ dc.name_kaz }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>

        </form>

    </div>
</div>
<script>
    document.addEventListener('DOMContentLoaded', function () {
          $('#qazdoctype').hide()
      $('#fulldoctype').hide()
    var c = $( "#citizenship" ).val()
     if( c == "1000000105"){
            var res = $('#qazdoctype').html();
            $("#doctype").html(res)
        }else{
            var res = $('#fulldoctype').html();
            $("#doctype").html(res)
        }
    });
  </script>


  <script>



    $("#citizenship").change(function () {
          var c = $( "#citizenship" ).val()
        if( c == "1000000105"){
            var res = $('#qazdoctype').html();
            $("#doctype").html(res)
            $("#iin_label").attr("class", "req")
            $("#iin").attr( "required", "" )
            $('#category').hide()
            $('#post').removeClass("col-md-2").addClass("col-md-4")
        }else{
            var res = $('#fulldoctype').html();
            $("#doctype").html(res)
            $("#iin_label").attr("class", "")
            $("#iin").removeAttr( "required" )
            $('#category').show()
            $('#post').removeClass("col-md-4").addClass("col-md-2")
        }

      $('#qazdoctype').hide()
      $('#fulldoctype').hide()
         });
  </script>
         <script>
         var today = new Date();
            var dd = today.getDate();
            var mm = today.getMonth() + 1; //January is 0!
            var yyyy = today.getFullYear();

            if (dd < 10) {
               dd = '0' + dd;
            }

            if (mm < 10) {
               mm = '0' + mm;
            }

            today = yyyy + '-' + mm + '-' + dd;
    $("#doc_date_start").attr("max", today);
    $("#doc_date_end").attr("min", today);
    $("#dob").attr("max", today);
  </script>
<script type="text/javascript">
      $('#category').hide()
      jQuery.fn.ForceNumericOnly =
function()
{
    return this.each(function()
    {
        $(this).keydown(function(e)
        {
            var key = e.charCode || e.keyCode || 0;
            // allow backspace, tab, delete, enter, arrows, numbers and keypad numbers ONLY
            // home, end, period, and numpad decimal
            return (
                key == 8 || 
                key == 9 ||
                key == 13 ||
                key == 46 ||
                key == 110 ||
                key == 190 ||
                (key >= 35 && key <= 40) ||
                (key >= 48 && key <= 57) ||
                (key >= 96 && key <= 105));
        });
    });
};
        $("#iin").ForceNumericOnly();

                $(".latin_letters").on("keypress", function(event) {
        var englishAlphabetAndWhiteSpace = /^[-@./#&+\w\s]*$/;
            var key = String.fromCharCode(event.which);
            if (event.keyCode == 8 || event.keyCode == 37 || event.keyCode == 39 || englishAlphabetAndWhiteSpace.test(key)) {
                return true;
            }
            return false;
        });
        $('.latin_letters').on("paste", function(e) {
            e.preventDefault();
        });

</script>

{% endblock %}