<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Портал подачи заявок</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/gov.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/gov2.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/gov3.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}" crossorigin="anonymous">
</head>
<body>
<div data-tip="true" class=" ministry-header-top-wrap  ">
    <div class="container flex-column flex-sm-row align-items-sm-center ministry-header-top">
        <div class="row justify-content-between align-items-center">
            <div class="col-lg-6">
                <div class="d-flex ">                    <div class="d-flex d-lg-none ml-auto">
                        <div class="hamburger d-flex">
                            <button data-tip="true"
                                    class="hamburger__btn button button--flat button--flatter button--transition  "
                                    type="button"><i class="fas fa-bars"></i></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 ministry-header-top__links d-none d-lg-block"></div>
            <div class="col-md-1 ministry-header-top__links d-none d-lg-block">
                <div class="navbar__links mt-4">

                    <a class="color_white" href="/kz/application/"><b>KZ</b></a>&#160;
                    <a class="color_grey" href="/application/">RU</a>&#160;
                    <a class="color_grey" href="/en/application/">EN</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% block body_block %}{% endblock %}
<script type="text/javascript" src="{% static 'js/main.5d94e38e.js' %}"></script>
</body>
</html>