{% extends 'gov_base.html' %}
{% load static %}
{% block body_block %}

<div class="container flex-column flex-sm-row align-items-sm-center ministry-header-top">
    <div class="row justify-content-between align-items-center">
        <div class="col-lg-12">
            <br>
            <a href="/logout/" class="btn float-right">Выйти</a>
            <h4>Добавить участника для мероприятия&#160;"{{ req.event.name_rus }}"</h4>


            <hr>
        </div>
    </div>
    <div class="col-md-12 mt-4">
        <form data-tip="true" class=" form-control row flex-column flex-wrap " action="/add_attendee/{{ req.id }}/" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="row">
                <div data-tip="true"
                     class="form-control__input form-control__input--visible-first form-input-text col-md-3 mb-2 ">
                    <label for="" title> Фамилия </label>
                    <div class="d-flex pos_relative">
                        <input placeholder="Алиев"
                               type="text" required=""
                               class="form-input-text__input typography__variant-body color_white__bg form-input-text__input--outlined"
                               value="" name="last_name">
                    </div>
                </div>
                <div data-tip="true"
                     class="form-control__input form-control__input--visible-first form-input-text col-md-2 mb-2 ">
                    <label for="title"> Имя </label>
                    <div class="d-flex pos_relative">
                        <input placeholder="Али"
                               type="text" required=""
                               class="form-input-text__input typography__variant-body color_white__bg form-input-text__input--outlined"
                               value="" name="first_name">
                    </div>
                </div>
                <div data-tip="true"
                     class="form-control__input form-control__input--visible-first form-input-text col-md-3 mb-2 ">
                    <label for="title"> Отчество </label>
                    <div class="d-flex pos_relative">
                        <input placeholder="Алиевич"
                               type="text"
                               class="form-input-text__input typography__variant-body color_white__bg form-input-text__input--outlined"
                               value="" name="patronymic">
                    </div>
                </div>
                <div data-tip="true"
                     class="form-control__input form-control__input--visible-first form-input-text col-md-4 mb-2 ">
                    <label for="title"> Транслитерация полного имени </label>
                    <div class="d-flex pos_relative">
                        <input placeholder="Aliev Ali Alievich"
                               type="text"
                               class="form-input-text__input typography__variant-body color_white__bg form-input-text__input--outlined"
                               value="" name="latin_name">
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <hr>
            </div>
            <div class="row">
                <div data-tip="true"
                     class="form-control__input form-control__input--visible-first form-input-text col-md-2 mb-2 ">
                    <label for="title"> ИИН </label>
                    <div class="d-flex pos_relative">
                        <input placeholder="781213351207"
                               type="text"
                               class="form-input-text__input typography__variant-body color_white__bg form-input-text__input--outlined"
                               value="" name="iin">
                    </div>
                </div>
                <div class="form-control__input form-control__input--visible-first col-md-2 mb-2"><label for="title">
                    Дата рождения </label>
                    <div class="d-flex align-items-center">
                        <div class="ant-picker ant-picker-range">
                            <div class="ant-picker-input ant-picker-input-active"><input type="date" name="dob" required=""
                                                                                         placeholder="Начальная дата"
                                                                                         size="12" value=""></div>
                        </div>
                    </div>
                </div>
                <div data-tip="true"
                     class="form-control__input form-control__input--visible-first form-input-select pos_relative col-md-2 mb-2 ">
                    <label for="gosorgan">Пол </label>
                    <div><select name="sex" type="select"
                                 class="color_white__bg form-input-select__input typography__variant-bodysubreg form-input-select__input--outlined"
                                 contenttype="projectdetails"  >
                        {% for sex in sexs %}
                        <option value="{{ sex.sex_code }}">{{ sex.name_rus }}</option>
                        {% endfor %}
                    </select></div>
                </div>
                <div data-tip="true"
                     class="form-control__input form-control__input--visible-first form-input-select pos_relative col-md-2 mb-2 ">
                    <label for="gosorgan">Гражданство </label>
                    <div><select name="citizenship" type="select"
                                 class="color_white__bg form-input-select__input typography__variant-bodysubreg form-input-select__input--outlined"
                                 contenttype="">
                        {% for country in countries %}
                        <option value="{{ country.country_code }}"  {% if country.country_code == "1000000105" %} selected="selected" {% endif %}>
                        {{ country.name_rus }}</option>
                        {% endfor %}
                    </select></div>
                </div>
                <div data-tip="true"
                     class="form-control__input form-control__input--visible-first form-input-text col-md-4 mb-2 ">
                    <label for="title"> Должность </label>
                    <div class="d-flex pos_relative">
                        <input placeholder="директор"
                               type="text"
                               name="post"
                               class="form-input-text__input typography__variant-body color_white__bg form-input-text__input--outlined">
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <hr>
            </div>
            <div class="row">
                <div data-tip="true"
                     class="form-control__input form-control__input--visible-first form-input-select pos_relative col-md-3 mb-2 ">
                    <label for="title">Тип документа </label>
                    <div><select name="document_type" type="select"
                                 class="color_white__bg form-input-select__input typography__variant-bodysubreg form-input-select__input--outlined"
                                 contenttype="">
                        {% for dc in document_types %}
                        <option value="{{ dc.doc_code }}" {% if dc.doc_code == "1000000003" %} selected="selected" {% endif %}>
                        {{ dc.name_rus }}</option>
                        {% endfor %}
                    </select></div>
                </div>
                <div data-tip="true"
                     class="form-control__input form-control__input--visible-first form-input-text col-md-1 mb-2 ">
                    <label for="title"> Серия </label>
                    <div class="d-flex pos_relative">
                        <input placeholder=""
                               type="text"
                               class="form-input-text__input typography__variant-body color_white__bg form-input-text__input--outlined"
                               value="" name="doc_series">
                    </div>
                </div>
                <div data-tip="true"
                     class="form-control__input form-control__input--visible-first form-input-text col-md-2 mb-2 ">
                    <label for="title"> Номер документа </label>
                    <div class="d-flex pos_relative">
                        <input
                                type="text" required=""
                                class="form-input-text__input typography__variant-body color_white__bg form-input-text__input--outlined"
                                value="" name="doc_number">
                    </div>
                </div>
                <div class="form-control__input form-control__input--visible-first col-md-2 mb-2">
                    <label for="title"> Дата выдачи </label>
                    <div class="d-flex align-items-center">
                        <div class="ant-picker ant-picker-range">
                            <div class="ant-picker-input ant-picker-input-active"><input type="date" required=""
                                                                                         name="doc_date_start"
                                                                                         size="12" value=""></div>
                        </div>
                    </div>
                </div>
                <div class="form-control__input form-control__input--visible-first col-md-2 mb-2"><label for="title">
                    Действителен до </label>
                    <div class="d-flex align-items-center">
                        <div class="ant-picker ant-picker-range">
                            <div class="ant-picker-input ant-picker-input-active">
                                <input type="date" name="doc_date_end" size="12" value="" required="">
                            </div>
                        </div>
                    </div>
                </div>
                <div data-tip="true"
                     class="form-control__input form-control__input--visible-first form-input-text col-md-2 mb-2 ">
                    <label for="title"> Кем выдан </label>
                    <div class="d-flex pos_relative">
                        <input placeholder="Алиев"
                               type="text"
                               class="form-input-text__input typography__variant-body color_white__bg form-input-text__input--outlined"
                               value="" name="doc_issuer">
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <hr>
            </div>
            <div class="row">
                <div data-tip="true"
                     class="form-control__input form-control__input--visible-first form-input-text col-md-1 mb-2 ">
                    <img src="{% static 'img/upload_photo.png' %}" width="100%">

                </div>
                <div data-tip="true"
                     class="form-control__input form-control__input--visible-first form-input-text col-md-3 mb-2 ">
                    <label for="title"> Загрузите фото участника(.jpg, .png) </label>
                    <div class="d-flex pos_relative">
                        <input placeholder="Алиев"
                               type="file" required="" accept=".jpg,.jpeg,.png"
                               class="form-input-text__input typography__variant-body color_white__bg form-input-text__input--outlined"
                               value="" name="photo">
                    </div>
                </div>
                <div data-tip="true"
                     class="form-control__input form-control__input--visible-first form-input-text col-md-1 mb-2 ">
                    <img src="{% static 'img/id.png' %}" width="100%">

                </div>
                <div data-tip="true"
                     class="form-control__input form-control__input--visible-first form-input-text col-md-3 mb-2 ">
                    <label for="title"> Загрузите фото документа(jpg, .png)</label>
                    <div class="d-flex pos_relative">
                        <input placeholder="Алиев"
                               type="file" required="" accept=".jpg,.jpeg,.png"
                               class="form-input-text__input typography__variant-body color_white__bg form-input-text__input--outlined"
                               value="" name="doc_photo">
                    </div>
                </div>
                <div data-tip="true"
                     class="form-control__input form-control__input--visible-first form-input-text col-md-4 mb-2 ">
                    <label for="title"> Планируемые объекты посещения</label>
                    <div class="d-flex pos_relative">
                        <textarea class="form-control" id="exampleFormControlTextarea3" rows="3" name="visit_objects"></textarea>
                    </div>
                </div>
            </div>
            <div class="my-3 col-md-12">
                <input type="hidden" name="req_id" value="{{ req.id }}">
                <button data-tip="true" class=" button button--transition button--color-blue mr-3 col-md-12 ripple"
                        type="submit">Добавить участника
                </button>
            </div>

        </form>

    </div>
</div>
{% endblock %}