{% extends 'gov_base.html' %}
{% load static %}
{% block body_block %}
    <script type="text/javascript" src="{% static 'js/jquery-3.6.0.min.js' %}"></script>

<div class="container-fluid ministry-header-top" style="max-width: 1100px; margin: auto;">
    <div class="row justify-content-between align-items-center">
        <div class="col-12">
            <br>
            <a href="/logout/" class="btn float-right">Выйти</a>
            <h4 class="text-center">Добавить участника для мероприятия&#160;"{{ req.event.name_rus }}"</h4>
            <hr>
        </div>
    </div>
    <div class="col-md-12 mt-4">
        <h6 class="text-success">{{ success_message }}</h6>
        <h6 class="text-danger">{{ delete_message }}</h6>
        <form class=" form-control row flex-column flex-wrap " action="/add_attendee/{{ req.id }}/" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="row">
                <div class="form-group col-md-3 mb-2">
                    <label for="" title  class="req"> Фамилия </label>
                    <input placeholder="Алиев" type="text" required class="form-control" value="" name="last_name">
                </div>
                <div class="form-group col-md-2 mb-2">
                    <label for="first_name" class="req">Имя</label>
                    <input placeholder="Али" type="text" required class="form-control" value="" name="first_name">
                </div>
                <div class="form-group col-md-3 mb-2">
                    <label for="patronymic">Отчество</label>
                    <input placeholder="Алиевич" type="text" class="form-control" value="" name="patronymic">
                </div>
                <div class="form-group col-md-4 mb-2">
                    <label for="latin_name" class="req">Транслитерация полного имени</label>
                    <input placeholder="Aliev Ali Alievich" type="text" required class="form-control" value="" name="latin_name" oninput="this.value=this.value.replace(/[^A-Za-z\s]/g,'');">
                </div>
            </div>
            <div class="col-12">
                <hr>
            </div>
            <div class="row">
                <div class="form-group col-md-2 mb-2">
                    <label for="citizenship" class="req">Гражданство</label>
                    <select class="form-control" name="citizenship" id="citizenship">
                        {% for country in countries %}
                        <option value="{{ country.country_code }}"  {% if country.country_code == "1000000105" %} selected="selected" {% endif %}>
                        {{ country.name_rus }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group col-md-2 mb-2">
                    <label for="iin" class="req">ИИН</label>
                    <input placeholder="781213351207" type="text" class="form-control" value="" name="iin" minlength="12" maxlength="12" oninput="process(this)">
                </div>
                <div class="form-group col-md-2 mb-2">
                    <label for="dob" class="req">Дата рождения</label>
                    <input
                        placeholder="Начальная дата"
                        type="date"
                        required
                        class="form-control"
                        name="dob"
                        id="dob"
                        min="1945-01-01"
                    >
                </div>
                <div class="form-group col-md-2 mb-2">
                    <label for="sex" class="req">Пол</label>
                    <select class="form-control" name="sex">
                        {% for sex in sexs %}
                        <option value="{{ sex.sex_code }}">{{ sex.name_rus }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group col-md-2 mb-2">
                    <label for="category" class="req">Категория</label>
                    <select class="form-control" name="category">
                        {% for category in categories %}
                        <option value="{{ category.category_code }}">
                        {{ category.name_rus }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group col-md-2 mb-2">
                    <label for="post" class="req">Должность</label>
                    <input type="text" required class="form-control" value="" name="post">
                </div>
            </div>
            <div class="col-12">
                <hr>
            </div>
            <div class="row">
                <div class="form-group col-md-3 mb-2">
                    <label for="document_type" class="req">Тип документа</label>
                    <select class="form-control" name="document_type" id="doctype">
                        {% for dc in document_types %}
                        <option value="{{ dc.doc_code }}" {% if dc.doc_code == "1000000003" %} selected {% endif %}>
                            {{ dc.name_rus }}
                        </option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group col-md-1 mb-2">
                    <label for="doc_series">Серия</label>
                    <input type="text" class="form-control" value="" name="doc_series">
                </div>
                <div class="form-group col-md-2 mb-2">
                    <label for="doc_number" class="req">Номер документа</label>
                    <input type="text" required class="form-control" value="" name="doc_number">
                </div>
                <div class="form-group col-md-2 mb-2">
                    <label for="doc_date_start" class="req">Дата выдачи</label>
                    <input type="date" required class="form-control" value="" name="doc_date_start">
                </div>
                <div class="form-group col-md-2 mb-2">
                    <label for="doc_date_end" class="req">Действителен до</label>
                    <input type="date" required class="form-control" value="" name="doc_date_end">
                </div>
                <div class="form-group col-md-2 mb-2">
                    <label for="doc_issuer">Кем выдан</label>
                    <input type="text" class="form-control" value="" name="doc_issuer">
                </div>
            </div>
            <div class="col-12">
                <hr>
            </div>
            <div class="row">
                <div class="form-group col-md-1 mb-2">
                    <img src="{% static 'img/upload_photo.png' %}" width="100%">
                </div>
                <div class="form-group col-md-3 mb-2">
                    <label for="photo" class="req">Загрузите фото участника (.jpg, .png, >5Kb, <7Mb)</label>
                    <input placeholder="Алиев" type="file" required class="form-control" id="photo" name="photo" accept=".jpg,.jpeg,.png" onchange="checkFileFormat('photo')">
                </div>
                <div class="form-group col-md-1 mb-2">
                    <img src="{% static 'img/id.png' %}" width="100%">
                </div>
                <div class="form-group col-md-3 mb-2">
                    <label for="doc_photo" class="req">Загрузите фото документа (.jpg, .png, >50Kb, <7Mb)</label>
                    <input placeholder="Алиев" type="file" required class="form-control" id="doc_photo" name="doc_photo" accept=".jpg,.jpeg,.png" onchange="checkFileFormat('doc_photo')">
                </div>
                <div class="form-group col-md-4 mb-2">
                    <label for="visit_objects" class="req" id="plan">Планируемые объекты посещения</label>
                    <textarea class="form-control" required rows="3" name="visit_objects" id="exampleFormControlTextarea3"></textarea>
                </div>
            </div>

            <div class="col-12 my-3">
                  <label>
                    При добавлении участника Вы соглашаетесь на обработку и хранение персональных данных в информационных системах СГО РК
                  </label>
            </div>
            <div class="col-12 text-center my-3">
                <input type="hidden" name="req_id" value="{{ req.id }}">
                <button data-tip="true" class=" button button--transition button--color-blue mr-3 col-md-12 ripple"
                        type="submit">Добавить участника
                </button>
            </div>
            <select id="qazdoctype" contenttype="">
                {% for dc in document_types %}
                    {% if dc.doc_code == "1000000001" or dc.doc_code == "1000000003" %}
                    <option value="{{ dc.doc_code }}" {% if dc.doc_code == "1000000003" %} selected {% endif %}>
                        {{ dc.name_rus }}
                    </option>
                    {% endif %}
                {% endfor %}
            </select>

            <select id="fulldoctype" contenttype="">
                {% for dc in document_types %}
                    {% if dc.doc_code == "1000000002" or dc.doc_code == "1000000004" or dc.doc_code == "1000000005" %}
                    <option value="{{ dc.doc_code }}" {% if dc.doc_code == "1000000002" %} selected {% endif %}>
                        {{ dc.name_rus }}
                    </option>
                    {% endif %}
                {% endfor %}
            </select>

        </form>
    </div>
</div>

<script>
function checkFileFormat(inputId) {
  const inputElement = document.getElementById(inputId);

  if (inputElement.files.length > 0) {
    const selectedFile = inputElement.files[0];
    const validFormats = ['.jpg', '.jpeg', '.png'];
    const isValidFormat = validFormats.some(format =>
      selectedFile.name.toLowerCase().endsWith(format)
    );

    if (isValidFormat) {
      console.log('Допустимый файл');
    } else {
      alert('Недопустимый файл. Выберите файл с расширением .jpg, .jpeg или .png.');
      inputElement.value = ''; // Clear the input field
    }
  }
}
</script>

<script>
document.addEventListener('DOMContentLoaded', function () {
      $('#qazdoctype').hide()
  $('#fulldoctype').hide()
var c = $( "#citizenship" ).val()
 if( c == "1000000105"){
        var res = $('#qazdoctype').html();
        $("#doctype").html(res)
        $("#plan").attr("class", "req")
    }else{
        var res = $('#fulldoctype').html();
        $("#doctype").html(res)
        $("#plan").attr("class", "")
    }
});
</script>

<script>
$("#citizenship").change(function () {
      var c = $( "#citizenship" ).val()

    if( c == "1000000105"){
        var res = $('#qazdoctype').html();
        $("#doctype").html(res)
        $("#iin_label").attr("class", "req")
        $("#iin").attr( "required", "" )
        // $('#category').hide()
        // $('#post').removeClass("col-md-2").addClass("col-md-4")
    }else{
        var res = $('#fulldoctype').html();
        $("#doctype").html(res)
        $("#iin_label").attr("class", "")
        $("#iin").removeAttr( "required" )
        // $('#category').show()
        // $('#post').removeClass("col-md-4").addClass("col-md-2")
    }
  $('#qazdoctype').hide()
  $('#fulldoctype').hide()
     });
</script>
<script>
     var today = new Date();
        var dd = today.getDate();
        var mm = today.getMonth() + 1; //January is 0!
        var yyyy = today.getFullYear();

        if (dd < 10) {
           dd = '0' + dd;
        }

        if (mm < 10) {
           mm = '0' + mm;
        }

        today = yyyy + '-' + mm + '-' + dd;
$("#doc_date_start").attr("max", today);
$("#doc_date_end").attr("min", today);
$("#dob").attr("max", today);
</script>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        let today = new Date();
        let minDate = new Date(today.getFullYear() - 60, today.getMonth(), today.getDate()).toISOString().split("T")[0];
        let maxDate = new Date(today.getFullYear() - 0, today.getMonth(), today.getDate()).toISOString().split("T")[0];

        let dobInput = document.getElementById("dob");
        dobInput.setAttribute("min", minDate);
        dobInput.setAttribute("max", maxDate);
    });
</script>


<script type="text/javascript">
      // $('#category').hide()
// jQuery.fn.ForceNumericOnly =
// function()
// {
//     return this.each(function()
//     {
//         $(this).keydown(function(e)
//         {
//             var key = e.charCode || e.keyCode || 0;
//             // allow backspace, tab, delete, enter, arrows, numbers and keypad numbers ONLY
//             // home, end, period, and numpad decimal
//             return (
//                 key == 8 ||
//                 key == 9 ||
//                 key == 13 ||
//                 key == 46 ||
//                 key == 110 ||
//                 key == 190 ||
//                 (key >= 35 && key <= 40) ||
//                 (key >= 48 && key <= 57) ||
//                 (key >= 96 && key <= 105));
//         });
//     });
// };
//         $("#iin").ForceNumericOnly();

function process(input){
  let value = input.value;
  let numbers = value.replace(/[^0-9]/g, "");
  input.value = numbers;
}
        $(".latin_letters").on("keypress", function(event) {
        var englishAlphabetAndWhiteSpace = /^[-@./#&+\w\s]*$/;
            var key = String.fromCharCode(event.which);
            if (event.keyCode == 8 || event.keyCode == 37 || event.keyCode == 39 || englishAlphabetAndWhiteSpace.test(key)) {
                return true;
            }
            return false;
        });
        $('.latin_letters').on("paste", function(e) {
            e.preventDefault();
        });
</script>
<script>
    // Установим ограничение на минимальную и максимальную дату рождения
    document.addEventListener("DOMContentLoaded", function() {
        const dobInput = document.getElementById("dob");

        // Устанавливаем минимальную и максимальную даты
        const minDate = new Date(1930, 0, 1); // 1 января 1900
        const maxDate = new Date(2025, 0, 1); // 1 января 2000

        // Форматируем даты в 'YYYY-MM-DD' для использования в атрибутах `min` и `max`
        dobInput.min = minDate.toISOString().split("T")[0];
        dobInput.max = maxDate.toISOString().split("T")[0];
    });
</script>

{% endblock %}