<!DOCTYPE html>

{% load static %}
<html>
<head>
    <title>Accreditation </title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/all.min.css' %}">
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>
<body>

<main>

    <div class="container">
        <header class="p-3 bg-dark text-white">
            <div class="container">
                <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                    <a href="/avmac/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                        Главная
                    </a>

                    <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                    </ul>


                    <div class="text-end">
                        <a href="/logout/">
                        <button type="button" class="btn btn-outline-light me-2"> Выйти</button>
                        </a>
                    </div>
                </div>
            </div>
        </header>

        <main>
            <div class="py-5 text-center">
                <h2>Заявка</h2>
                {% if attendees %}
                    <h4>Количество участников: {{ attendees|length }}</h4>
                {% endif %}
                <p class="lead"></p>
                {% if success_message %}
                    <div class="alert alert-success" role="alert">
                      {{ success_message }}
                    </div>
                {% endif %}
                <h6 class="text-danger">{{ delete_message }}</h6>
                {% if error_message %}
                    <div class="alert alert-danger" role="alert">
                      {{ error_message }}
                    </div>
                {% endif %}
            </div>

            <div class="row g-5">
                {% if attendees %}
                    {% for attendee in attendees %}
                    <hr>
                    <div class="row">
                        <div class="col-lg-1">
                            {% if attendee.photo %}
                                <img src="{{ attendee.photo.url }}" width="100%">
                            {% endif %}
                        </div>
                        <div class="col-lg-1">
                            {% if attendee.docScan %}
                                <img src="{{ attendee.docScan.url }}" width="100%">
                            {% endif %}
                        </div>
                        <div class="col-lg-3">
                            <p>{{ attendee.surname }}&#160; {{ attendee.firstname }}&#160; {{ attendee.patronymic }}</p>
                            <p>{{ attendee.transcription }}</p>
                            <p>ИИН:&#160;{{ attendee.iin }}&#160;ДР:{{ attendee.birthDate|date:"d.m.Y" }}</p>
                        </div>
                        <div class="col-lg-3">
                            <p>
                                {% for country in countries %}
                                {% if country.country_code == attendee.countryId %} {{ country.name_rus }}&#160; {% endif %}
                                {% endfor %}
                                {% for sex in sexs %}
                                {% if sex.sex_code == attendee.sexId %} {{ sex.name_rus }} {% endif %}
                                {% endfor %}</p>
                            <p>{{ attendee.post }}</p>
                            <p>{{ attendee.visitObjects }}</p>
                        </div>
                        <div class="col-lg-3">
                            <p>
                                {% for dc in document_types %}
                                {% if dc.doc_code == attendee.docTypeId %} {{ dc.name_rus }}&#160; {% endif %}
                                {% endfor %}{{ attendee.docSeries }}</p>
                            <p>{{ attendee.docNumber }} {{ attendee.docBegin|date:"d.m.Y" }}-{{ attendee.docEnd|date:"d.m.Y" }} </p>
                            <p> {{ attendee.docIssue }}</p>
                        </div>
                        <div class="col-lg-1">
                           
                            <form action="/delete_attendee/" method="POST">{% csrf_token %}
                                <input type="hidden" name="attendee_id" value="{{ attendee.id }}">
                                <button type="submit" class="btn btn-danger">Удалить</button>
                            </form>
                           
                        </div>
                    </div>
                    {% endfor %}
                    {% endif %}

            </div>
        </main>

        <footer class="my-5 pt-5 text-muted text-center text-small">
            <p class="mb-1">&copy; 2017–2021 Quantum bit</p>
        </footer>


</body>
</html>
